.dropContainer {
    position: relative;
    .buttonDrop {
        background-color: #fff;
        color: #3b3a3a;
        padding: 15px 20px;
        border-radius: 8px;
        border: none;
        font-weight: 600;
        font-size: 14px;
        display: inline-flex;
        box-sizing: border-box;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        img {
            width: 13px;
            height: 13px;
            object-fit: contain;
            transition: .5s ease all;
            &.up {
                transform: rotate(180deg);
            }
        }
    }

    .menuItems {
        max-height: 0;
        transition: max-height 0.15s ease-out;
        overflow: hidden;
        position: absolute;
        width: 100%;
        margin-top: 5px;
        border-radius: 8px;
        background-color: #fff;
        color: #3b3a3a;
        box-sizing: border-box;

        p {
            cursor: pointer;
            margin: 0;
            padding: 12px 15px;
            border-bottom: 1px solid #eeecec;
            font-size: 14px;
            &.selected {
                background-color: #6402cd21;
                font-weight: 600;
            }
        }

        &.active {
            max-height: 150px;
            transition: max-height 0.25s ease-in;
            overflow-y: auto;
        }
    }
}