.modal {
    background-color: #F2F2F2;
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    min-width: 250px;
    padding: 20px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.08);
    transition: .5s;
    &.active {
        visibility: visible;
        top: 50%;
    }

    .close {
        z-index: 800;
        position: absolute;
        top: 4%;
        right: 4%;
        width: 3%;
        cursor: pointer;
        img {
            width: 100%;
            height: 100%;
        }
    }

    &-content {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}