
$purple :#6402CD;
$light_red: #FF595A;
$light_blue: #00F2C2;
$white: #F2F2F2;
$bold_gray: #3b3a3a;

.App {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;

    header {
        display: flex;
        padding: 10px;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        height: 8%;
        background-color: #fff;

        img {
            width: 10%;
            height: 80%;
            object-fit: contain;
        }

        section {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            width: 20%;
            p, h4 {
                margin: 0;
            }
            div {
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background-color: $purple;
                p {
                    font-weight: 700;
                    color: $white;
                }
            }
            h4 {
                color: $bold_gray;
            }
        }
    }

    main {
        height: 92%;
        background-color: $white;
        color: $white;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 30px;


        table {
            width: 100%;
            margin-top: 5%;
            thead {
                th {
                    color: $purple;
                }
            }
            tbody {
                tr {
                    margin: 5px 0;
                    td {
                        text-align: center;
                        color: $bold_gray;
                    }
                }
            }
        }
    }
}

