@import url(./assets/scss/Modal.scss);
@import url(./assets/scss/PizzaData.scss);
@import url(./assets/scss/Dropdown.scss);
@import url(./assets/scss/Loader.scss);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$purple :#6402CD;
$light_red: #FF595A;
$light_blue: #00F2C2;
$white: #F2F2F2;
$bold_gray: #3b3a3a;


$sizes: (
  '10': 10%,
  '20': 20%,
  '30': 30%,
  '40': 40%,
  '50': 50%,
  '60': 60%,
  '70': 70%,
  '80': 80%,
  '90': 90%,
  '100': 100%,
);

$margins: (
  '1': 7px,
  '2': 14px,
  '3': 21px,
  '4': 28px,
  '5': 35px,
  '6': 42px
);

$fonts: (
  'xs': 12px,
  'sm': 14px,
  'md': 18px,
  'lg': 21px,
  'xl': 24px
);

@each $name, $value in $fonts {
  .font {
    &-#{$name} {
      font-size: $value;
    }
  }
}

@each $name, $value in $sizes {
  .w-#{$name} {
    width: $value;
  }
  .h-#{$name} {
    height: $value;
  }
}

@each $name, $value in $margins {

  .m {
    &b {
      &-#{$name} {
        margin-bottom: $value;
      }
    }
    &t {
      &-#{$name} {
        margin-top: $value;
      }
    }
    &l {
      &-#{$name} {
        margin-left: $value;
      }
    }
    &r {
      &-#{$name} {
        margin-right: $value;
      }
    }
  }
}

@mixin input-mx {
  padding: 15px 20px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  display: inline-block;
  box-sizing: border-box;
}

.pointer {
  cursor: pointer;
}

.weight {
  &-light {
    font-weight: lighter;
  }
  &-bold {
    font-weight: bold;
  }
}

.text {
  &-center {
    text-align: center;
  }
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }

  &-white {
    color: $white;
  }
  &-gray {
    color: $bold_gray;
  }
  &-lightRed {
    color: $light_red;
  }
  &-lightBlue {
    color: $light_blue;
  }
  &-purple {
    color: $purple;
  }
}

.d-flex {
  display: flex;
}

.flex {
  &-row {
    flex-direction: row;
  }
  &-column {
    flex-direction: column;
  }
}

.align {
  &-center {
    align-items: center;
  }
  &-end {
    align-items: flex-end;
  };
  &-start {
    align-items: start;
  }
}

.justify {
  &-center {
    justify-content: center;
  };
  &-end {
    justify-content: flex-end;
  };
  &-start {
    justify-content: start;
  }
  &-between {
    justify-content: space-between;
  }
  &-evenly {
    justify-content: space-evenly;
  }
  &-around {
    justify-content: space-around;
  }
}

button {
  @include input-mx;
  cursor: pointer;

  &.circle {
    border-radius: 50%;
  }

  &.purple {
    background-color: $purple;
    color: $white;
  };

  &.lightBlue {
    background-color: $light_blue;
    color: $white;
  };

  &.white {
    background-color: $white;
    color: $purple;
  };
}

input {
  @include input-mx;
}